html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.header{
    height: 100vh;
    background-image: linear-gradient(-45deg, rgb(43, 41, 41) 1%, rgba(0,0,0,0)),url(../img/pexels-photo-326410.jpeg);
    color: #fff;
}
.header-top{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

    &__logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__logo p{
        margin-left:12px; 
    }

    &__phone{
        text-align: right;
    }

    
    
    &__phone-link{
        text-decoration: none;
        border-bottom: 2px dashed #fff;
        color: #fff;
    }
}

.header-middle{
    width: 80%;
    margin: 0 auto;
    margin-top: 12%;
    

    &__title-txt{
        text-align: center;
        font-size: 90px;
        text-transform: uppercase;
        margin: 0 auto 40px;
    }
    &__paragraph{
        text-align: center;
        font-size: 30px;
    }
}

.header-bottom{
    display: flex;
    justify-content: center;

    &__btn{
        color: #fff;
        background-color: #0094d0;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
        margin-top: 1%;
        cursor: pointer;
    } 
}

/*-MAIN-*/

.main{
    width: 100%;
}
.main-info {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px;

    &__box{
        display: flex;
        color: #0094d0;
    }
    &__box h1 {
        font-size: 70px;
        margin: 0;
    }
    &__box p {
        color: #000;
    }
    &__box-left{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__box-right {
        display: flex;
        align-items: flex-end;
    }
    &__box-right p{
        text-align: left;
        margin: 0;
        margin-left: 10px;
    }
}

.main-product{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__top{
        margin: 0 auto;
        font-size: 50px;
        text-align: center;
        margin: 7% 0 7% 0;
    }

    &__middle{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    &__middle-bg{
        background:linear-gradient(0deg, rgb(43, 41, 41) 1%, rgba(0,0,0,0)), url(../img/school-colorful-colourful-colors.jpg) no-repeat;
        background-size: cover; 
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        padding: 5% 10px;
    }
    &__middle-bg h3{
        font-size: 17px;
        margin: 0 0 12px 0;
        padding-left: 5px;
        border-left: 3px solid #0094d0;
    }
    

    &__middle-bg p{
        margin: 0;
        font-size: 14px;
    }


    &__bottom-title{
        margin-bottom: 5%;
    }

    &__bottom-title h1{
        color: #0094d0;
        font-size: 40px;
        margin: 0;
    }

    &__bottom-title p{
        font-size: 20px;
        font-weight: 700;
        margin-top: 7px;
    }
}


.main-form{
    background-color: #0094d0;
    width: 100%;
}
.form-container {
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;
    display: flex;
    justify-content: space-between;
    color: #fff;

    &__txt{
        width: 40%;
    }

    &__box{
        width: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__box-input input{
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        margin: 10px 0;
        padding-bottom: 5px;
        cursor: pointer;
        width: 180px;
        height: 30px;

        &::placeholder {
            color: #fff;
            font-size: 17px;

        }
    }

    &__box-btn button{
        width: 180px;
        height: 35px;
        cursor: pointer;
        background-color: #fbdc09;
        border: none;
        padding: 10px 20px;
        text-align: center;
        color: #000;
        text-transform: uppercase
    }
}

.main-aplication{
    width: 100%;
}
.aplication-container{
    width: 80%;
    margin: 0 auto;

    &__title{
        text-align: center;
        margin: 5% 0;
    }

    &__box{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__box-item{
        background:linear-gradient(0deg, rgb(43, 41, 41) 1%, rgba(0,0,0,0)), url(../img/paper-colorful-color-loose-40799.jpeg) no-repeat;
        background-size: cover; 
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #fff;
        padding: 3% 15px;
        margin-bottom: 7%;
    }

    &__box-item h1{
        font-size: 17px;
        border-left: 3px solid #0094d0;
    }

    &__box-item p{
        margin: 0;
        font-size: 14px;
    }
        

    }



.main-delivery{
    width: 100%;
}
.delivery-container{
    width: 80%;
    margin: 0 auto;

    &__title{
        text-align: center;
        font-size: 22px;
    }

    &__middle{
        background: url(../img/e70a703bd1c0308045f27cea3d6925b3.png);
        background-size: cover;
        width: 100%;
        height: 400px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 50px;
    }
    &__middle-txt h3{
        color: #0094d0;
        font-size: 32px;
        margin-bottom: 10px;
    }
    &__middle-txt p{
        font-size: 24px;
        margin: 0;
        font-weight: 700;
    }
    &__bottom{
        margin-bottom: 5%;
    }
    &__bottom-txt{
        font-size: 0.8rem;
        color: #8e8e8e;
    }
}

.footer{
    width: 100%;
    padding: 3% 0;
    position: relative;
    overflow: hidden;
    
    &__video{
        position: absolute;
        z-index: -1000;
    }
}
.footer-container{
    width: 80%;
    margin: 0 auto;
    color: #fff;

    &__title {
        text-align: center;
    }

    &__title h1{
        font-size: 42px;
    }

    &__title p{
        font-size: 24px;
    }

    &__form{
        display: flex;
        justify-content: space-between;
        margin-right: 13%;
        margin-bottom: 7%;
    }

    &__form-input input{
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        margin: 10px 0;
        padding-bottom: 5px;
        cursor: pointer;
        width: 180px;
        height: 30px;

        &::placeholder {
            color: #fff;
            font-size: 17px;

        }
    }

    &__form-btn button{
        width: 250px;
        height: 45px;
        cursor: pointer;
        background-color: #fbdc09;
        border: none;
        padding: 10px 20px;
        text-align: center;
        color: #000;
        text-transform: uppercase
    }

    &__about{
        display: flex;
        justify-content: space-between;
        border: 3px solid #fbdc09;
        padding: 30px;

        &__box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__box-item h1{
            margin: 0;
            color: #fff;
        }

        &__box-item-par{
            padding-left: 14%; 
        }

        &__box-item-card{
            display: flex;
            align-items: center;
        }

        &__box-item-card h2{
            display: flex;
            margin: 0;
        }

        &__box-item-card img{
            width: 28px;
            height: 28px;
            margin-right: 10px;
        }
    }

}












/*---------------------*/


@media  screen and (max-width : 1080px) {
    .header-middle{

        &__title-txt{
            font-size: 70px;
        }
        &__paragraph-txt{
            font-size: 25px;
        }
    }
}


@media screen and (max-width:870px) {
    
    .header-top{
        &__logo p{
            display: none;
        }
        &__phone a{
            display: none;
        }
    }

    .header-middle{

        &__title-txt{
            font-size: 58px;
        }
        &__paragraph-txt{
            font-size: 22px;
        }
    }
    .main-info__box-left h1{
        font-size: 60px;
    }

    .footer-container{
        
        &__about{

            &__box h1{
                font-size: 20px; 
            }
        }

    }
}




@media  screen and (max-width : 768px) {
    .main-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__box {
            display: flex;
            flex-direction: column;
            margin-top: 7%
        }
        &__box-left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .main-product{

        &__middle{
            display: flex;
            flex-direction: column;
        }
    
        &__middle-bg{
            width: 100%;
            display: flex;
            margin-bottom: 30px;
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;

        &__txt{
            width: 100%;
        }

        &__box{
            width: 100%;
        }
    }

    .aplication-container{

        &__box-item{
            width: 38%;
        }
    }


    .footer-container{
        
        &__about{
            display: flex;
            flex-direction: column;

            &__box-item-par {
                padding-left: 0;
            }

            &__box-item-card {
                margin-top: 20px;
            }
        }

        &__form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}




@media  screen and (max-width: 576px) {

    .header-top__phone h1{
        font-size: 17px;
    }

    .header-middle{

        &__title-txt{
            font-size: 60px;
        }
        &__paragraph-txt{
            font-size: 19px;
        }
    }

    .main-product{

        &__top{
            font-size: 30px;
        }

        &__middle-bg h3{
            font-size: 14px;
            margin: 0 10px;
        }
        &__middle-bg p{
            margin: 0 10px;
        }

        &__middle-bg{
            font-size: 11px;
            padding: 5% 0;
        }
    }


    .aplication-container{

        &__title h1{
            font-size: 26px;
        }


        &__box-item{
            width: 100%;
        }
    }

    .delivery-container{
        &__middle{
            height: 250px;
        }
    }

    .footer{
        background: #0094d0;
    }
}


@media screen and (max-width: 480px){

    .header-top__logo{
        width: 100px;
    }

    .header-middle{

        &__title-txt{
            font-size: 50px;
        }
        &__paragraph-txt{
            font-size: 17px;
        }
    }

    .aplication-container{

        &__title h1{
            font-size: 22px;
        }
    }

    .delivery-container{
        &__middle{
            height: 300px;
        }
    }

    .footer-container{

        &__title h1{
            font-size: 32px; 
        }

        &__title p{
            font-size: 17px;
        }

        &__about{
            padding: 5px;
        }

        &__box-btn button{
            width: 250px;
        }

    }

    .form-container__box-btn button{
        width: 250px;
    }
}


